
* {
 padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header h2 {
  color: #ffffff;
  font-family: 'Rubik-medium',sans-serif;
  font-size: 16px;
}

nav {
    background-color: #099d8d;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar{
  position: fixed;
  display: contents;
}

#navbar ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 20px;
  justify-content: center;
}

#navbar ul li a {
  color: #ffffff;
  padding: 25px;
  font-family: 'Rubik-medium',sans-serif;
  text-decoration: none;
  font-size: 15px;
} 


#sectionHeader {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url(../image/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#divSectionHeader{
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 15px;
    background-color: #ffffff;
    max-width: 600px;
}

#divSectionHeader p{
  font-size: 24px;
  width: 90%;
  color: #000000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#section1Main h2{
  display: flex;
  justify-content: center;
  margin-top: 50px
}

footer{
  padding: 20px;
  overflow: hidden;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

footer a{
  text-decoration: none;
  color: #000000;
}

footer ul{
 list-style-type: none;
}
.info_teams{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.dual{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    
}

.info_seg2{
    width: 50%;
    height: 200px;
    text-align: center;
    background-color: rgb(196, 192, 192);
    border-radius: 2rem;

}
#section2Main .div1Section2Main{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin-bottom: 60px;
    
}
#section2Main .div2Section2Main{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    margin-bottom: 60px; 
}

#section2Main h2{
    display: flex;
    justify-content: center;
    margin: 45px 0px;
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}
#section2Main .div1Section2Main h4{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    margin: 30px 0px 0px 30px;
}
#section2Main .div2Section2Main h4{
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: right;
    margin: 30px 30px 15px 0px;
   
}
#section2Main .div1Section2Main p{
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 16px;
    width: 439px;
    margin: 0px 0px 15px 30px;
}
#section2Main .div2Section2Main p{
    font-family: 'Open Sans', sans-serif;
    color: #54585A;
    font-size: 16px;
    width: 439px;
    text-align: right;
    margin: 0px 30px 15px 0px;
}
#section2Main img{
    width: 205px;
    height: 205px; 
    border-radius: 10px;
    border: 3px solid rgb(236, 236, 236);
}

#section2Main .div1Section2Main .divA{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
#section2Main .div2Section2Main .divA1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    
}
#section2Main .div1Section2Main a{
    color: rgb(1, 146, 156);
    margin: 10px;
    font-size: 20px;
}
#section2Main .div2Section2Main a{
    color: rgb(1, 146, 156);
    margin: 10px;
    font-size: 20px;
 

}

